@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf') format('tty');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Medium.ttf') format('tty');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #373745;
    background-color: #E5E5E5;
}

.container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.head {
    width: 100%;
    height: 64px;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
    text-align: center;
}

.head .head-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head .menu{
    list-style: none;
    display: flex;
}

.head .menu-item {
    margin-left: 16px;
    padding: 4px 12px;
}

.head .menu-item:first-child {
    margin-left: 0;
}

.head .menu-item.active {    
    background-color: #60C2AA;
    border-radius: 200px;
}

.head .menu-item.active a {
    color: #fff;
}


.head .menu a {
    text-decoration: none;
    font-weight: 500;
    color: #373745;
}

.head .signout {
    border: none;
    outline: none;
    background: none;
}

.head .signout img {
    cursor: pointer;
}
